APP_NAME=finpotok
APP_DOMAIN=finpotok.mbpressf.ru
TRAEFIK_ENTRYPOINT=web
DOCKER_NETWORK=proxy

JWT_SECRET=5f191dd02b5b7514603757ea70e7a70a1f1d2fe1f5fbe9b85b133d9abff86b21
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=https://finpotok.mbpressf.ru
DATABASE_URL=sqlite:////app/data/finance.db

# Для production фронт по умолчанию использует /api, это значение оставлено для явности.
VITE_API_URL=/api
